In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, classification_report

listOfAcc = []

df = pd.read_csv("./train.csv")
df = df.fillna(0)



for column in df.columns:
    
    if column != "filename":

        X = df['filename']
        y_target = df[column]

        # print(X.head())

        X_train, X_test, y_train, y_test = train_test_split(X, y_target, test_size=0.2, random_state=42)

        dummy_clf = DummyClassifier(strategy="uniform")

        # Treinar o DummyClassifier
        dummy_clf.fit(X_train, y_train)

        
        y_pred = dummy_clf.predict(X_test)
        # accuracy = accuracy_score(y_test, y_pred)
        listOfAcc.append(accuracy_score(y_test, y_pred))


print(f"Accuracy mean:{(sum(listOfAcc)/len(listOfAcc))} ")

print(listOfAcc)

Accuracy mean:0.46875
[0.5, 0.5, 0.375, 0.375, 0.625, 0.6875, 0.25, 0.4375]

In [6]:
df

,filename,CONTENT_HIGH,CONTENT_LOW,COVER_NONE,BOTTLE_SMASHED,LABEL_WHITE,LABEL_MISPLACED,LABEL_NONE,BOTTLE_NONE
0,train_1.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,train_2.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,train_3.jpg,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,train_4.jpg,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,train_5.jpg,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
72,train_73.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73,train_74.jpg,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
74,train_75.jpg,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75,train_76.jpg,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76,train_77.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df[['filename','CONTENT_HIGH']]

        filename  CONTENT_HIGH
0    train_1.jpg           NaN
1    train_2.jpg           NaN
2    train_3.jpg           1.0
3    train_4.jpg           1.0
4    train_5.jpg           1.0
..           ...           ...
72  train_73.jpg           NaN
73  train_74.jpg           NaN
74  train_75.jpg           1.0
75  train_76.jpg           1.0
76  train_77.jpg           NaN

[77 rows x 2 columns]